pepper_new:[
    platform:[
        127.0.0.1
        abc@127.0.0.2
        abc@127.0.0.3:22
    ]
    message:[
        Worker:[
            127.0.0.4
            abc@127.0.0.5
            abc@127.0.0.6:22
        ]
        Web:[
            127.0.0.7
        ]
    ]
    127.0.0.8
]
